.banner{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner p{
    font-size: 35px;
    line-height: 1.5;
    color: white;
}
.header1{
    color: white;
    font-size: 60px;
    font-weight: 600;
}